# default file location for test files
BASE_FILEPATH_INPUT=<folder_where_you_have_your_test_files>
BASE_FILEPATH_OUTPUT=<folder_where_you_want_output_files>

# server configuration
SERVER_HOST=127.0.0.1
SERVER_PORT=60162

# live/sim flag
ACCEL_LIVE=false
POTS_LIVE=false
TEMP_LIVE=false