/BajaCLI.code-workspace
/accel_2025-04-02_1.csv
/Bevel_75_ft_lbs_1.csv
/Drive_Day_9_20_25.txt
/Trial_9.csv
/build
/data
CLIInterface/__pycache__
CLIInterface/sensor_scripts/__pycache__
.env
CLIInterface/sensor_scripts/desktop.ini